body {
	background-color: red;
	font-size: 20px;
}
h1 {
    color: red;
}
h3 {
	background-color: green;
}
h2 {
	background-color: red;
}
h1 {
	background-color: green;
}
br {
	background-color: pink;
}
h3 {
	color: red;
}
img {
	width: 800px;
	
}